{"TXT":[{"title":"name","content":"google.com."},{"title":"ttl","content":"3600"},{"title":"RRset Type","content":"16"},{"title":"Strings","content":"globalsign-smime-dv=CDYX+XFHUw2wml6\/Gb8+59BsH31KzUr6c1l2BPvqKX8="},{"title":"Raw","content":"google.com.\t\t3600\tIN\tTXT\t\"globalsign-smime-dv=CDYX+XFHUw2wml6\/Gb8+59BsH31KzUr6c1l2BPvqKX8=\""}]}